<div class="d-flex justify-content-center align-items-center" style="width: 100%; height: 100vh;">
    <div class="alert alert-danger bg-gradient d-flex flex-column justify-content-center align-items-center w-75 h-75 shadow">
        <i class="bi bi-exclamation-triangle display-3"></i>
        <h1 class="display-1 fw-bold p-0 m-0">404</h1>
        <h6 class="display-6 p-0 m-0">File not found!</h6>
        <a href="/" class="btn btn-danger bg-gradient mt-3 shadow"><i class="bi bi-house-up-fill me-2"></i>Back Home</a>
    </div>
</div>